body {
  font-family: Arial, sans-serif;
}

.dark-theme {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-theme .navbar {
  background-color: #333;
}

.btn{
  color: white;
}
.btn:hover{
  color: dimgray; !important;
}